@layer layout {
.wrapper {
  max-width: calc(#{$wrapper-max-width} + #{$wrapper-padding} * 2);
  margin: 0 auto;
  padding: 0 $wrapper-padding;

  @media screen and (max-width: $breakpoint-sm) {
    padding: 0 $spacing-md;
  }
}

.wrapper::after {
  content: "";
  display: table;
  clear: both;
}

.site-main {
  padding: $spacing-lg 0;
  flex: 1;
}
}
